authlib
automat
bcrypt
chardet
colorama
configobj
constantly
dbus-python
distro
distro-info
evaluate
faiss-cpu
flask
flask-sqlalchemy
google
huggingface_hub
hyperlink
importlib-metadata
incremental
jeepney
langchain
langchain_openai
launchpadlib
more-itertools
netifaces
oauthlib
pandas
pexpect
pip-chill
protobuf
ptyprocess
pyasn1
pyasn1-modules
pygobject
pyhamcrest
pyjwt
pyopenssl
pyserial
python-apt
python-debian
python-magic
rouge_score
secretstorage
sentence-transformers
service-identity
sos
spacy
ssh-import-id
systemd-python
tiktoken
twisted
ubuntu-advantage-tools
unattended-upgrades
wadllib
zipp
zope.interface
